main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

main #new-friend{

    background-color: var(--newfriend-bg-color);

}

main #new-friend h2{
    font-family: var(--newfriend-title-font);
    font-size: 2.4rem;
    color: var(--newfriend-title-color);
    text-shadow: var(--newfriend-title-shadow);
    text-align: center;
    font-weight: 600;

}

main #new-friend form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--newfriend-form-bg-color);
    border-radius: 1rem;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main #new-friend form .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

main #new-friend form .input-container label{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--newfriend-form-label-color);
    text-shadow: var(--newfriend-form-label-shadow);
    font-family: var(--newfriend-form-label-font);
    
}

main #new-friend form .input-container input{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;

    font-size: 1.6rem;
    color: var(--newfriend-form-input-color);
    background-color: var(--newfriend-form-input-bg-color);
    box-shadow: var(--newfriend-form-input-shadow);
    font-family: var(--newfriend-form-input-font);
    text-shadow: var(--newfriend-form-input-shadow);
    border: 2px solid transparent;

    &:focus, &:hover{
        border-color: #333;

    }
}

main #new-friend  button{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--newfriend-form-button-bg-color);
    box-shadow: var(--newfriend-form-button-shadow);
    color: var(--newfriend-form-button-color);
    font-family: var(--newfriend-form-button-font);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover, &:focus{
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    &:active{
        transform: scale(0.95);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

main #friend-list{
    background-color: var(--friend-list-bg-color);
}

main #friend-list h2{
    font-family: var(--newfriend-title-font);
    font-size: 2.4rem;
    color: var(--friend-list-title-color);
    text-shadow: var(--friend-list-title-shadow);
    text-align: center;
    font-weight: 600;
}

main #friend-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--friend-list-ul-bg-color);
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

main #friend-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--friend-list-li-bg-color);
    border-radius: 1.1rem;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    color: var(--friend-list-li-color);
    font-family: var(--friend-list-li-font);
    text-shadow: var(--friend-list-li-shadow);
}

main #friend-list ul li button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--friend-list-ul-bg-color);
    font-size: 1.6rem;
    font-weight: 600;

    &:hover, &:focus{
        color: var(--newfriend-form-button-bg-color);
    }
}



main #friend-list #draw-btn{
    background-color: var(--draw-btn-bg-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--newfriend-form-button-shadow);
    color: var(--newfriend-form-button-color);
    font-family: var(--newfriend-form-button-font);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover, &:focus{
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    &:active{
        transform: scale(0.95);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}


main #friend-sorted{
    display: none;
}